<%= render "shared/navbar" %>
<div class="main">
  <div class="filmline-left"></div>
  <div class="filmline-right"></div>
  <% if @films.present? %>
    <div class="shows">
      <% @films.each do |film| %>
        <%= render partial: "film", locals: { film: film } %>
      <% end %>
    </div>
    <%= paginate @films %>
  <% else %>
    <p><%= flash.now[:alert] || "映画が見つかりませんでした。" %></p>
  <% end %>
</div>