<%= render "shared/navbar" %>
<div class="main">
  <div class="filmline-left"></div>
  <div class="filmline-right"></div>
    <div class="shows">
      <% @films.each do |film| %>
        <%= render partial: "film", locals: { film: film } %>
      <% end %>
    </div>
  </div>
</div>