<%= render "shared/navbar" %>
<div class="film-main">
  <div class="filmline-left"></div>
  <div class="content">
    <div class="shows">
      <% @films.each do |film| %>
        <%= render partial: "film", locals: { film: film } %>
      <% end %>
    </div>
    <%= paginate @films %>
  </div>
  <div class="filmline-right"></div>
</div>