.comment-main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #a3a3a3;
}

.comment-main .filmline-left, .comment-main .filmline-right {
  position: relative;
  top: 0;
  width: 50px;
  background: url('filmline.png') repeat-y;
  background-size: contain;
}

.comment-main .filmline-left {
  margin-right: 10px;
}
.comment-main .filmline-right {
  margin-left: 10px;
}
.comment-main .comment-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 30px;
  box-sizing: border-box;
}

.comment-main .comment-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 48px 16px 16px 0;
}

.comment-main .film-title {
  font-size: 40px;
}

.comment-main .back-link { 
  font-size: 32px;
  text-decoration: none;
}

.comment-main .back-link:hover {
  color: #620606;
  text-decoration: underline;
}

.comment-main .review {
  font-size: 32px;
  color: #620606;
  text-align: left;
  margin: 50px 0 30px 0;
  padding-left: 15px;
}

.comment-main .comment-bottom {
  width: 70%;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.comment-main .comment-items {
  width: 100%;
  padding-left: 0;
  list-style: none;
  width: 100%;
}

.comment-main .comment-item {
  width: 100%;
  height: 160px;
  display: flex;
  background: #ebebeb;
  border-radius: 8px;
  margin-bottom: 24px;
}

.comment-main .comment-text {
  width: 70%;
  text-align: left;
  padding: 24px;
}

.comment-main .comment-user {
  width: 30%;
  text-align: right;
  padding: 24px;
}


.new-main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.new-main .comment-left, .comment-right {
  position: relative;
  top: 0;
  width: 3%;
  background: url('comment-sidebar.png') repeat-y;
  background-size: contain;
  margin: 0;
}

.new-main .comment-left {
  right: 0;
}

.new-main .comment-right {
  left: 0;
}

.new-main .new-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 60%;
  max-width: 60vw;
  height: 100%;
  box-sizing: border-box;
  background-color: #a3a3a3;
}

.new-main .new-title {
  font-size: 50px;
  margin-top: 24px;
  margin-bottom: 18px;
}

.new-main .field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-main .commentbar {
  width: 100%;
  margin: 24px 0; 
}

.new-main .review-label {
  font-size: 40px;
  color: #620606;
  margin-top: 32px;
}

.new-main .field textarea {
  width: 80%;
  height: 320px;
  margin: 48px;
  border-radius: 4px;
  outline: none;
}

.new-main .comment-actions {
  text-align: center;
  margin-top: 8px;
}

.new-main .post-button {
  padding: 8px 12px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #620606;
  cursor: pointer;
  font-size: 20px;
}

.new-main .post-button:hover {
  color: #ffffff;
  background-color: #620606;
}

.new-main .comment-back {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 10px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #620606;
  border-radius: 4px;
  font-size: 20px;
}

.new-main .comment-back:hover {
  color: #ffffff;
  background-color: #620606;
}
