/* トップページ */
.index-main {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.index-main .curtain {
  position: relative;
  overflow:hidden;
  width: 100vw;
  height: 100vh;
}

.index-main .curtain-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.open-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 3;
  display: block;
}

.open-video.hidden {
  display: none;
}

.contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  max-width: 30vw;
  width: 100%;
}

.top-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  margin-bottom: 20px;
  width: 100%;

}

.top-content label {
  position: relative;
  cursor: pointer;
  flex: 1; 
  display: flex;
  align-items: center;
}

.checkbox-label {
  color: #eaabab;
  margin-left: 5px;
}

.main-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 330px;
}

.search-input {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #790505;
  background-color: #c3c0c0;
  color: #000000;
  flex: 1;
  text-align: right;
  height: 30px; 
  border-radius: 3px;
}

.search-btn {
  padding: 5px 10px;
  background-color: #c3c0c0;
  border: none;
  font-size: 14px;
  color: #000000;
  cursor: pointer;
  height: 30px;
  width: 65px;
  border-radius: 3px;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.search-btn:hover {
  background-color: #494747;
  color: #ffffff;
}

.bottom-content {
  color: #eaabab;
  font-size: 25px;
}

.bottom-content a {
  text-decoration: none;
  padding: 0 0.5em;
  display: inline-block;
}

.bottom-content a:hover {
  color: #430909;
  border-radius: 50%;
  background-color: #eaabab;
}



/* showing,search,show 共通部分 */
.film-main {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  z-index: 1;
  background-color: #a3a3a3;
}

.film-main .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 32px 0;
  padding: 16px;
  box-sizing: border-box;
}

.film-main .filmline-left, .film-main .filmline-right {
  position: relative;
  top: 0;
  width: 50px;
  background: url('filmline.png') repeat-y;
  background-size: contain;
}

.film-main .filmline-left {
  margin-right: 10px;
}

.film-main .filmline-right {
  margin-left: 10px;
}

.film-main .shows {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}

/* showing,search 共通部分 */
.film-main .film {
  display: flex;
  height: 30vh;
  background: #ebebeb;
  border-radius: 8px;
  overflow: hidden;
  width: 80%;
  transition: transform 0.3s ease;
  margin-bottom: 4%;
  text-decoration: none;
  color: inherit;
}

.film-main .film:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.film-main .left-show {
  width: 30%;
  height: 30vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #070707;
  overflow: hidden;
}

.film-main .index-poster-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 30vh;
  object-fit: contain;
  display: block;
}

.film-main .index-poster-image.noimage {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.film-main .right-show {
  flex: 1;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.film-main .title-show {
  display: flex;
  justify-content: space-between;
}

.film-main .title-show h2 {
  font-size: 150%;
  width: 80%;
  margin-bottom: 5px;
  margin-right: 5px;
  border-bottom: none;
}

.film-main .release-date {
  font-size: 100%;
  margin: 0;
  color: #4f4e4e;
  white-space: nowrap;
}

.film-main .text-show {
  font-size: 15px;
  margin-top: 25px;
  color: #171717;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
  margin-top: auto;
  margin-bottom: 3%;
}

.pagination-desktop {
  display: flex;
}

.pagination-desktop .page {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #620606;
  background-color: #ffffff;
  text-align: center;
  line-height: 28px;
  margin-right: 10px;
}

.pagination-desktop .page:hover {
  background-color: #620606;
  color: #ffffff;
  cursor: pointer;
}

.pagination-tablet, .pagination-mobile {
  display: none;
}

.firstpage-link, .lastpage-link {
  font-size: 13px;
  line-height: 13px;
}

/* showページ */
.show-detail {
  width: 90%;
  padding: 30px;
  background: #ebebeb;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-top {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10% 10% 3% 10%;
  position: relative;
}

.left-show-top {
  width: 30%;
  height: 25vh;
  margin: 0 3% 0 5%;
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  background-color: #070707;
}

.show-poster-image {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.right-show-top {
  width: 80%;
  height: 150px;
}

.right-top {
  position: relative;
  height: 80%;
  margin-right: 1%;
}

.show-date {
  position: absolute;
  right: 2%;
  top: 0;
  font-size: 100%;
}

.right-top h2 {
  width: 70%;
  font-size: 200%;
  font-weight: bold;
  color: #620606;
  padding-top: 3%;
  padding-right: 5%;
}

.right-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20%;
  margin-top: 3%;
  margin-right: 10%;
}

.comment-link {
  font-size: 120%;
  text-decoration: none;
  margin-right: 5%;
}

.comment-link:hover {
  font-size: 120%;
  color: #620606;
  text-decoration: underline;
}

.like-icon {
  margin-left: 20%;
}

.film-detail {
  width: 100%;
  padding: 8%;
  border-top: 1px solid #a3a3a3;
}

.text-selection {
  font-size: 120%;
  line-height: 1.8;
}

.cast-and-staff {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10%;
}

.cast-section, .staff-section {
  width: 100%;
  margin: 5%;
}

.cast-section h3, .staff-section h3 {
  font-size: 140%;
  font-weight: bold;
  color: #620606;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 3%;
  font-size: 120%;
  line-height: 1.5;
}

.production-section {
  padding: 8% 0;
  text-align: center;
  border-top: 1px solid #a3a3a3;
}

.production-section strong {
  color: #620606;
  font-size: 120%;
  font-weight: bold;
}

.production-name {
  margin-bottom: 15px;
}

.production-section a {
  text-decoration: none;
  font-size: 120%;
}

.production-section a:hover {
  color: #620606;
  text-decoration: underline;
}






/* タブレット用スタイル */
@media (max-width: 1024px) {
  /* トップページ */
  .curtain-image, .open-video {
    object-fit: cover;
  }

  .contents {
    max-width: 50vw;
    align-items: center;
  }

  .top-content label {
    width: auto;
  }

  .search-input {
    max-width: 250px;
  }

  /* 作品一覧ページ */
  .film-main .shows {
    width: 100%;
    margin: 0;
  }

  .film-main .film {
    width: 90%;
    margin-bottom: 3%;
    height: 30vh;
  }

  .film-main .left-show {
    height: 30vh;
    padding: 0;
  }

  .film-main .index-poster-image {
    height: auto;
    max-width: 100%;
    max-height: 30vh;
    object-fit: contain;
  }

  .film-main .right-show {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .film-main .title-show h2 {
    width: 80%;
    height: auto;
    margin: 10px;
    font-size: 150%;
  }

  .film-main .release-date {
    font-size: 100%;
    margin-top: 10px;
    margin-right: 10px;
  }

  .film-main .text-show {
    align-items: flex-end;
    margin-bottom: 3%;
    font-size: 100%;
  }

  .pagination-tablet {
    display: flex;
  }
  .pagination-desktop, .pagination-mobile {
    display: none;
  }

  .pagination-tablet .page {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #620606;
    background-color: #ffffff;
    text-align: center;
    line-height: 28px;
    margin-right: 10px;
  }

  .pagination-tablet .page:hover {
    background-color: #620606;
    color: #ffffff;
    cursor: pointer;
  }

  /* 詳細ページ */
  .show-detail {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .show-top {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .left-show-top {
    width: 80%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0;
  }

  .right-show-top {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
  }

  .right-top h2{
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding: 0 20px;
    font-size: 200%;
    flex: 1;
  }

  .film-detail {
    width: 85%;
    border-top: 1px solid #a3a3a3;
  }

  .cast-and-staff {
    flex-direction: column;
  }

  .cast-section, .staff-section {
    width: 100%;
    margin: 5% 0;
  }
}






/* スマートフォン用スタイル */
@media (max-width: 599px) {
  /* トップページ */
  .curtain-image, .open-video {
    object-fit: cover;
  }
  
  .contents {
    max-width: 80vw;
    align-items: center;
  }

  .top-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .top-content label {
    width: 100%;
    padding-left: 30%;
    white-space: nowrap;
  }

  .search-container {
    flex-direction: column;
    align-items: center;
  }

  .search-input {
    max-width: 200px;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .search-btn {
    width: 20%;
    height: 25px;
    font-size: 12px;
  }

  /* 作品一覧ページ */
  .film-main .film {
    width: 90%;
    height: auto;
    margin-bottom: 5%;
    flex-direction: column;
  }

  .film-main .left-show {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .film-main .index-poster-image {
    height: 25vh;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .film-main .right-show {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .film-main .title-show {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .film-main .title-show h2 {
    width: 80%;
    height: auto;
    margin: 10px 0;
  }

  .film-main .release-date {
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
  }

  .film-main .text-show {
    align-items: flex-end;
    margin-bottom: 3%;
  }

  .pagination-mobile {
    display: flex;
  }

  .pagination-desktop, .pagination-tablet {
    display: none;
  }

  .pagination-mobile .page {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #620606;
    background-color: #ffffff;
    text-align: center;
    line-height: 20px;
    margin-right: 8px;
  }

  .pagination-mobile .page:hover {
    background-color: #620606;
    color: #ffffff;
    cursor: pointer;
  }

  .firstpage-link, .lastpage-link {
    display: inline-block;
    font-size: 11px;
    top: 0;
    text-align: center;
  }

  .page-link {
    font-size: 15px;
  }

  /* 詳細ページ */
  .show-detail {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .show-top {
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
  
  .left-show-top {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: 0;
  }

  .right-show-top {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
  }

  .right-top h2{
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding: 10px 10px 0 10px;
    font-size: 150%;
  }

  .comment-link {
    font-size: 80%;
  }

  .like-icon {
    width: 15px;
    height: 15px;
    object-fit: cover;
  }
  .film-detail {
    width: 85%;
    padding: 4%;
    border-top: 1px solid #a3a3a3;
  }

  .text-selection {
    font-size: 85%;
    line-height: 1.4;
  }

  .cast-and-staff {
    flex-direction: column;
    width: 80%;
    padding: 4%;
  }

  .cast-section, .staff-section {
    width: 150%;
    margin: 5% 0;
    font-size: 85%;
  }

  .staff-section ul li {
    display: block;
  }

  .staff-section ul li strong::after {
    content: '\A';
    white-space: pre;
  }
}
