.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.curtain {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('<%= image_path("curtain.jpg") %>');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.filmback {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url('<%= image_path("filmback.png") %>');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.contents {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.bottom-content {
  color: #eaabab;
  font-size: 25px;
}

.bottom-content a {
  text-decoration: none;
}