.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 90px;
  padding: 0 60px 0 30px;
  background-color: #920505;
  z-index: 10;
  position: relative;
}

.logo {
  margin: 10px, 10px, 0, 20px;
}

.logo a {
  color: #FFFFFF;
  text-decoration: none;
}
.title-icon{
  width: 200px;
  height: auto; 
}
.menu {
  position: relative;
  margin: 0;
  padding: 0;
}
.menu img {
  width: 42px;
  height: auto;
}
.menu span {
  cursor: pointer;
}

.lists {
  list-style-type: none;
  margin: 3px;
  padding: 3px;
  background-color: #410e0e;
  position: absolute;
  top: 40px;
  right: 0;
  left: auto;
  display: none;
  flex-direction: column;
  z-index: 20;
  border-radius: 5px;
}

.lists li {
  padding: 10px;
  text-align: right;
}

.lists li a {
  color: white;
  text-decoration: none;
}

.lists li a:hover {
  background-color: #555;
}

.third-list {
  margin-bottom: 3px;
}

.dropdown .dropdown-content {
  flex-direction: column;
  background-color: #410e0e;
  padding: 10px;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 3px;
}

.search-form input {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ffffff;
  background-color: #410e0e;
  color: white;
}

.search-form button {
  padding: 5px 10px;
  background-color: #bfbfbf;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}

.search-form button:hover {
  background-color: #363636;
  color: #ffffff;
}

.hidden {
  display: none;
}

.menu:hover .lists {
  display: flex;
}
