/* サインイン/ログイン/アカウント編集 */
.sign-up, .log-in, .account-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #620606;
}

.container {
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px black;
  width: 100%;
  max-width: 400px;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
}

.user-field {
  margin-bottom: 8px;
}

.user-field label {
  display: block;
  font-weight: bold;
}

.user-field input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.user-field em {
  font-size: 0.9em;
  color: #666;
}

.user-field.remember-me {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
}

.user-field.remember-me input[type="checkbox"] {
  margin-right: 20px;
}

.user-actions {
  text-align: center;
  margin-top: 8px;
}

.user-actions input[type="submit"] {
  padding: 8px 12px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #620606;
  cursor: pointer;
  font-size: 12px;
}

.user-actions input[type="submit"]:hover {
  color: #ffffff;
  background-color: #620606;
}

.user-actions a {
  display: inline-block;
  padding: 8px 12px;
  margin-right: 10px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #620606;
  border-radius: 4px;
  font-size: 12px;
}

.user-actions a:hover {
  color: #ffffff;
  background-color: #620606;
}

.error_messages {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

#error_explanation {
  font-size: 10px;
}

/* マイページ user/show */
.my-main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.my-left-page {
  width: calc(100vw - 66%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
}

.my-left-items {
  left: 0;
  width: 88%;
}

.my-left-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8% 0 5% 0;
  margin: 0 3%;
  border-bottom: 1px solid #a3a3a3;
}

.my-name {
  font-size: 200%;
  font-weight: bold;
  margin-left: 10%;
}

.my-edit {
  margin-right: 10%;
}

.my-left-bottom {
  left: 0;
  width: 88%;
  padding: 10%;
}

.like-head {
  font-size: 180%;
  font-weight: bold;
  color: #620606;
  margin-bottom: 3%;
}

.my-like-lists {
  padding: 5% 0;
}

.my-like-film {
  display: flex;
  align-items: center;
  position: relative;
  padding: 3%;
  margin: 5% 0;
}

.my-like-button {
  width:18%;
  height: 40%;
} 

.my-title {
  width: 120%;
  height: 40%;
  font-size: 130%;
  padding-left: 3%;
  text-align: left
}

.my-title:hover {
  color: #620606;
}

.my-main .my-left-line {
  right: 0;
  top: 0;
  width: 11.9%;
  background: url('filmline.png') repeat-y right center;
  background-size: contain;
}

.my-right-page {
  width: calc(100vw - 34%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.my-right-items {
  width: 80%;
}

.my-record {
  padding-top: 5%;
}

.record {
  font-size: 240%;
  font-weight: bold;
  color: #620606;
  margin-bottom: 5%;
}

.my-comments {
  z-index: 2;
}

.my-comment {
  height: 1800%;
  background: #ebebeb;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin-bottom: 5%;
  overflow-y: auto;
}

.my-comment-area {
  padding: 3%;
}

.my-comment-film {
  font-size: 120%;
  font-weight: bold;
  color: #620606;
  margin: 3% 0;
}

.my-comment-text {
  font-size: 100%;
  margin-bottom: 3%;
}

.my-main .my-right-line {
  right: 0;
  width: 4%;
  background: url('filmline.png') repeat-y right center;
  background-size: contain;
}